.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  padding: 10px;
  background-color: #cbec0c;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(12, 4, 121, 0.2);
  clip-path: circle(50%);
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(calc(var(--i) * 1deg));
  position: absolute; 
}

.avatar img {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(71, 3, 3, 0.2);
}

.avatar p {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  color: #333;
}

@media (max-width: 768px) {
  .profile-container {
    gap: 10px;
  }

  .avatar img {
    width: 40px;
    height: 40px;
  }

  .avatar p {
    font-size: 12px;
  }
}