/* NewPoll.css */

/* Container and general styles */
.new-poll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #c6d3cc;
    padding: 20px;
  
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #080a74;
  }
  
  /* Form styling */
  .new-poll-form {
  
    background-color: rgb(228, 234, 236);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(5, 7, 95, 0.1);
    width: 100%;
    max-width: 840px;
  }
  
  .input-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: #810429;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: rgb(20, 18, 114);
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:disabled {
    background-color: #2e739b;
    cursor: not-allowed;
  }
  
  .submit-btn:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
    }
  
    .new-poll-form {
      padding: 20px;
    }
  
    .input-field {
      font-size: 0.9rem;
      padding: 8px;
    }
  
    .submit-btn {
      font-size: 1rem;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    h2 {
      font-size: 1.2rem;
    }
  
    .input-field {
      font-size: 0.85rem;
      padding: 7px;
    }
  
    .submit-btn {
      font-size: 0.9rem;
      padding: 8px;
    }
  }
  