

/* src/components/NewPoll.css */
.new-poll-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .new-poll-container h2 {
    margin-bottom: 20px;
  }
  
  .new-poll-container input,
  .new-poll-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .new-poll-container input {
    border: 1px solid hsl(0, 48%, 67%);
    border-radius: 10%;
  }
  
  .new-poll-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10%;
    padding: 10px 20px;
  }
  
  .new-poll-container button:hover {
    background-color: #0056b3;
    padding: 10px 20px;
    
  }
  
  